<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.hudumishaexpert">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Editpage"></activity>
        <activity android:name=".fix" /> <!-- <meta-data android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/map_key"/> -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".OngoingFix" />
        <activity
            android:name=".mymain"
            android:label="@string/title_activity_mymain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExpertMain" />
        <activity android:name=".Form_2" />
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".login"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>